.perfWrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 20px;
  padding: 0 20px;
}

.perfCard{
  overflow: hidden;
  background-size: cover;
  transition: all 0.5s;

}

.cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.perfCard:hover {
  cursor: pointer;
  transform: scale(1.1,1.1);
}

